:root {
    --green: #00b289;
    --white: #fff;
    --dark: #4c4d5f;
    --darker: #4c525a;
    --yellow: #f8db62;
    --bg-ff: 'Hedvig Letters Serif', serif;
    --sm-ff: 'Roboto', sans-serif;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: var(--sm-ff);
    font-size: .875rem;
    color: var(--darker);
}

* {
    box-sizing: border-box;
}


/* Typography */

a {
    text-decoration: none;
    color: var(--darker);
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: var(--white);
    border-bottom: 1px solid #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
}

nav li {
    list-style: none;
    font-size: 1.0625rem;
    font-weight: 300;
    color: var(--darker);
}


/* Buttons */

button {
    border: 0;
    border-radius: 3px;
    padding: .8rem 1.1rem;
    font-size: .8125rem;
    font-weight: bold;
    letter-spacing: .6px;
    cursor: pointer;
}

.signup {
    background-color: var(--green);
    color: var(--white);
}

.login {
    background-color: var(--white);
    color: var(--green);
    border: 1px solid var(--green);
}

.login:is(:hover, :focus) {
    background-color: var(--green);
    color: var(--white);
}

.buttons {
    display: flex;
    gap: 1rem;
}


/* main */

.hero,
.features,
.responsive-tabs,
.trust-section,
.testimonials {
    width: 90%;
    margin: 10rem auto;
}


/* hero */

.hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.hero-text {
    width: 100%;
}

.hero-title {
    font-family: var(--bg-ff);
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--darker);
}

.hero-description {
    font-size: clamp(1rem, 3.5vw, 1.1rem);
    font-weight: 500;
    line-height: 1.2;
    color: var(--darker);
}

.email-and-button {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: 70px;
    margin-top: 3rem;
}

.hero-text input {
    padding-block: 1rem;
    padding-left: .625rem;
    padding-right: 1.5rem;
    border: 2px solid var(--green);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
}

.hero-text input::placeholder {
    opacity: 0.5;
    font-weight: 500;
}

.hero-text button {
    border-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.hero-img {
    transform: translateX(50px);
}
.hero-img img {
    width: 100%;
}

/* features section */


.testimonials h2,
.trust-text,
.features-text {
    text-align: center;
}


.testimonials h2,
.trust-title,
.features-title {
    font-size: 1.5rem;
    font-family: var(--bg-ff);
}


.trust-description,
.trust-img h3,
.features-description,
.features-img h3 {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    line-height: 1.4;
}

.trust-description,
.features-description {
    font-weight: 300;
    text-wrap: wrap;
}

.trust-img h3,
.features-img h3 {
    font-weight: 500;
    margin-bottom: 2.5rem;
}

.trust-img,
.features-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5rem;
    margin-top: 2rem;
}


.features-img-1,
.features-img-2 {
    text-align: center;
}

.features-img-1 img,
.features-img-2 img {
    width: 100%;
}

/* responsive tabs section */

.tab-content div {
    padding: .5rem 1.25rem;
    border-bottom: .5px solid lightgrey;
    cursor: pointer;
}

.tab-content div:last-child {
    border-bottom: 0;
}

.tab-content div:hover {
    background-color: var(--green);
}

.tab-content p {
    font-size: 1rem;
    font-weight: 500;
}



/* trust section */

.trust-img {
    gap: 2rem;
}

.trust-img-1,
.trust-img-2 {
    width: 48%;
}


.trust-img p {
    font-size: 1rem;
    font-weight: 300;
    margin-top: -1rem;
}


/* testimonial section */

.testimonials h2 {
    margin-bottom: 12rem;
}

